<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="list-group">
      
      
        <a (click)="aplicarSonido('1')"  class="list-group-item list-group-item-action" [ngStyle]="{'background':'red'}"> </a>
        <a (click)="aplicarSonido('2')"  class="list-group-item list-group-item-action" [ngStyle]="{'background':'blue'}"></a>
        <a (click)="aplicarSonido('3')"  class="list-group-item list-group-item-action" [ngStyle]="{'background':'oragne'}"></a>
        <a  (click)="aplicarSonido('4')" class="list-group-item list-group-item-action" [ngStyle]="{'background':'yellow'}"></a>
        <a  (click)="aplicarSonido('5')" class="list-group-item list-group-item-action" [ngStyle]="{'background':'green'}">  </a>
        <a (click)="aplicarSonido('6')"  class="list-group-item list-group-item-action" [ngStyle]="{'background':'black'}"> </a>
        <a (click)="aplicarSonido('7')"  class="list-group-item list-group-item-action" [ngStyle]="{'background':'purple'}"> </a>
      </div>
    </div>
  </div>


</div>
